
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    margin: 0px;
    padding: 0px;

}
.body 
{
    overflow-x: hidden;
}
.logo-font-pd
{
  font-family: playfair display;
  font-style: italic;
  font-weight:bold;
}
.font-dmsans
{
  font-family: DM Sans !important;
}
.font-pd
{
  font-family: playfair display !important;
  font-weight: lighter;
  line-height: 2.8125rem;
  margin-bottom: 0.625rem;
}

.active
{
  background: #DBDFD0;
  border-radius: 34px;
  padding: 40px;
} 

.bg-icon-footer
{
  background-color: #AD343E;
  border-radius: 50px;
  padding: 5px;
} 
.top-bg{background: #474747;}

.hero-section {
  background-image: url('asset/homepage/bg.png'); 
  background-size: cover;
  background-position: center;
  height: 400px; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;

}

.hero-content
{
  position: relative;
} 

.center_item
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_bar
{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav_items
{
   display: flex;
   list-style: none;
}

.nav_items li
{
margin: 0px 10px;
}

.nav_items li a
{
    text-decoration: none;
    color:#474747;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}

.text-white
{
    color: white !important;
}
.text-maroon
{
  color: #AD343E !important;
}
.top_bar
{
  background: #474747 !important;
}

.btn-css
{
 text-decoration: none;
 white-space: nowrap;     /* Prevent line breaks */
 display: inline-block;   /* Ensure button behaves properly */ 
 border-width: 1.5px;
 border-radius: 118px;
 padding: 10px;
 align-items: center;
 background-color: white;
 font-weight:600
}

.b-0
{
  border-width: 0px;
}
.fw-600
{
  font-weight: 600;
}
.bg-about
{
  background: #F9F9F7;
  width: 100%;
}
.fs-15
{font-size: 15px;}
.fs-14
{
  font-size: 14px;
}
.fs-10
{
  font-size: 10px;
}
.card-bg
{background: #474747;
}



.footer
{
  background-color: #474747;
  padding: 20px;
  height: 75%;
}